/* main.css */



/* main.css */
.navbar-transparent {
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 1000; /* Add this line to ensure the navbar stays on top */
}
.navbar-transparent.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
}
/* main.css */
.navbar-transparent .navbar-nav .nav-link {
    color: white;
}

.navbar-transparent.scrolled .navbar-nav .nav-link {
    color: inherit; /* Change this to any other color if you want a different color when scrolled */
}
.carousel {
    margin-top: -56px; /* Adjust this value based on your navbar height */
}